<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fithealthteam.fithealth.huawei">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/auth_fithealthlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitHealth">
        <activity
            android:name=".motionTracking.ExerciseMapActivity"
            android:exported="true" />
        <activity
            android:name=".motionTracking.MotionTrackingActivity"
            android:exported="true" />
        <activity
            android:name=".BMIInput.BMIInput_Activity"
            android:exported="true" />
        <activity
            android:name=".CreateDietPlan.CreateDietPlan_Activity"
            android:exported="true" />
        <activity
            android:name=".authentication.passResetActivity"
            android:exported="true" />
        <activity
            android:name=".myplan.MyPlanActivity"
            android:exported="true" />
        <activity
            android:name=".authentication.registerActivity"
            android:exported="true" />
        <activity
            android:name=".authentication.loginActivity"
            android:exported="true" />
        <activity
            android:name=".authentication.authenticateActivity"
            android:exported="true" />
        <activity android:name=".motionTracking.ExerciseMapActivity" android:exported="true"/>
        <activity android:name=".motionTracking.MotionTrackingActivity" android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ui.home.ReminderBroadcast" />

        <receiver android:name=".Notification.backgroundProcess">
            <intent-filter>
                <action android:name="backgroundProcess"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>